html,
body {
  height: 100%;
  width: 100%;
  font-family: "Noto Sans KR", sans-serif;
}

.go-github {
  top: 1rem;
  right: 1rem;
}

.main-title {
  font-size: 0;
}

.main-title > span {
  font-size: 5rem;
}

#example {
  height: 1.2em;
}

.input-wrap input {
  border-bottom: 1px solid var(--black);
  width: 100%;
}

#demo-area {
  bottom: 1rem;
}

#demo-area > * {
  margin: 1rem 0;
}

#back-btn .material-icons {
  margin: 0;
}

#result {
  min-height: 50vh;
  padding: 0.5rem;
  background: white;
  box-sizing: content-box;
}

.dropdown {
  background: white;
}
